<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.shan.mypubliclibrary">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true">
        <activity android:name=".ui.activity.CommonActivity"/>

        <service android:name=".utils.download.DownloadService"/>
    </application>

</manifest>
